*{
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    
}body{
  background-color: rgb(236, 234, 234);
}
#apr{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: rgb(29, 27, 16);
    margin-top: 150px;
    margin-left: 150px;
    animation-duration: 1.5s;
    animation-name: slidein1;
    
}@keyframes slidein1 {
  from {
    margin-left: 100%;
    width: 300%
  }to {
    margin-left: 150px;
    width: 100%;
  }
}
span{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 400;
    color: rgb(104, 103, 103);
}#logos{
    margin-top: 20px;
    padding: -60px;
    width: 95px;
    height: 55px;
    border-radius: 50px 50px ;
    box-shadow: -1px 1px 6px;

    animation-duration: 1.7s;
    animation-name: slidein2;
    animation: infinite;

}@keyframes slidein2 {
        from {
          margin-left: 5%;
          width: 95px;
          height: 55px;
        }to {
          margin-left: 0px;
          width: 95px;
          height: 55px;
        }
}
[data-anime]{
  opacity: 0;
  transition: 1s;
}[data-anime="down"]{
  transform: translate3d(0, -100%, 0);
}[data-anime="up"]{
  transform: translate3d(0, 100%, 0);
}[data-anime="left"]{
  transform: translate3d(-100%, 0, 0);
}[data-anime="right"]{
  transform: translate3d(50px, 0, 0);
}[data-anime].animate{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}.sobre a1{
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  text-align: left;
  border-radius: 0px 70px 70px;
  padding: 50px 100px 70px 25px;
  position: absolute;
  margin-top: 50px;
  margin-left:150px ;
  color: rgb(236, 234, 234);
  background: black;
}.sobre a2{
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  text-align: left;
  border-radius: 70px 0px 70px 70px;
  padding: 50px 100px 70px 25px;
  position: absolute;
  margin-top: 350px;
  margin-left:150px ;
  color: rgb(236, 234, 234);
  background: black;
  box-shadow: -1px 1px 6px;
}footer{
  margin-top:1000px ;
}